html{
  font-size: 16px;
}
body{
  background-image: url("./img/art.jpg");
  background-size: cover;
}

p{
  border: 0px solid green;
  display: block;
  text-align: justify;
  margin: 0 auto;
  padding: 2% 3%;
  font-weight: 550;
  font-size: 16px;
}

.pdiv{
  border-radius: 30px;
  background: DarkSlateGrey;
  margin: 0 30%;
}

.restinfo{
  border: 4px solid DarkSlateGrey;
  border-radius: 10px;
  color:LightGrey;
  font-size: 1.8rem;
  margin-left: 40%;
  margin-right: 40%;
  padding: 10 50px;
  background-color: #2b7575;

}

#about,#interests{
  font-weight: 100;
  font-family: "Helvetica";
  color: LightGrey;
}

#header{
  display: flex;
  justify-content: center;
  background-size: 100%;
  font-size: 4rem;
  padding: 50px 0px;
  color: DarkSlateGrey;
}

.titles{
  font-weight: 100;
  font-family: "Helvetica";
  color: LightGrey;
}

a:link{
  text-decoration: none;
}

#button2:hover,#button3:hover{
  background-color: #b8d9d9;
}

button{
  background-color: DarkSlateGrey;
  border: none;
  border-radius: 30px;
  color: paleturquoise;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 20px;
  cursor: pointer;
}
#button2{
  padding: 15px 39px;
}

.info {
  display: inline-block;
  text-align: center;
  border: 0px solid green;
  padding-top: 20px;
}

.image img{
  height: auto;
  max-width:65%;
  border: 3px solid DarkSlateGrey;
  border-radius: 10px;

}

@media only screen and ( max-width: 320px)
{
  .info {
    padding-top: 10px;
  }
  #header{
    padding: 10px 0px;
    font-size: 2.5rem;
  }
}
@media only screen and ( max-width: 691px)
{
  #header{
    font-size: 3.5rem;
  }
}
@media only screen and ( max-width: 488px)
{
  #header{
    font-size: 2.5rem;
  }
}
@media only screen and ( max-width: 353px)
{
  #header{
    font-size: 2rem;
  }
}
